---
import { buttonVariants } from "@/components/ui/Button.astro";
import Card from "@/components/ui/card/Card.astro";
import CardHeader from "@/components/ui/card/CardHeader.astro";
import CardTitle from "@/components/ui/card/CardTitle.astro";
import CardDescription from "@/components/ui/card/CardDescription.astro";
import CardContent from "@/components/ui/card/CardContent.astro";
import CardFooter from "@/components/ui/card/CardFooter.astro";
import { Facebook, Instagram, Linkedin } from "lucide-react";

interface TeamProps {
  imageUrl: string;
  name: string;
  position: string;
  socialNetworks: SociaNetworkslProps[];
}

interface SociaNetworkslProps {
  name: typeof Facebook;
  url: string;
}

const teamList: TeamProps[] = [
  {
    imageUrl: "https://i.pravatar.cc/150?img=35",
    name: "Emma Smith",
    position: "Product Manager",
    socialNetworks: [
      {
        name: Linkedin,
        url: "https://www.linkedin.com/in/leopoldo-miranda/",
      },
      {
        name: Facebook,
        url: "https://www.facebook.com/",
      },
      {
        name: Instagram,
        url: "https://www.instagram.com/",
      },
    ],
  },
  {
    imageUrl: "https://i.pravatar.cc/150?img=60",
    name: "John Doe",
    position: "Tech Lead",
    socialNetworks: [
      {
        name: Linkedin,
        url: "https://www.linkedin.com/in/leopoldo-miranda/",
      },
      {
        name: Facebook,
        url: "https://www.facebook.com/",
      },
      {
        name: Instagram,
        url: "https://www.instagram.com/",
      },
    ],
  },
  {
    imageUrl: "https://i.pravatar.cc/150?img=36",
    name: "Ashley Ross",
    position: "Frontend Developer",
    socialNetworks: [
      {
        name: Linkedin,
        url: "https://www.linkedin.com/in/leopoldo-miranda/",
      },

      {
        name: Instagram,
        url: "https://www.instagram.com/",
      },
    ],
  },
  {
    imageUrl: "https://i.pravatar.cc/150?img=17",
    name: "Bruce Rogers",
    position: "Backend Developer",
    socialNetworks: [
      {
        name: Linkedin,
        url: "https://www.linkedin.com/in/leopoldo-miranda/",
      },
      {
        name: Facebook,
        url: "https://www.facebook.com/",
      },
    ],
  },
];
---

<section
  id="team"
  class="container py-24 sm:py-32"
>
  <h2 class="text-3xl md:text-4xl font-bold">
    <span class="bg-linear-to-b from-primary/60 to-primary text-transparent bg-clip-text">
      Our Dedicated{" "}
    </span>
    Crew
  </h2>

  <p class="mt-4 mb-10 text-xl text-muted-foreground">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis
    dolor pariatur sit!
  </p>

  <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-8 gap-y-10">
    {teamList.map(
      ({ imageUrl, name, position, socialNetworks }: TeamProps) => (
        <Card class="bg-muted/50 relative mt-8 flex flex-col justify-center items-center">
          <CardHeader class="mt-8 flex justify-center items-center pb-2">
            <img
              src={imageUrl}
              alt={`${name} ${position}`}
              class="absolute -top-12 rounded-full w-24 h-24 aspect-square object-cover"
            />
            <CardTitle class="text-center">{name}</CardTitle>
            <CardDescription class="text-primary">
              {position}
            </CardDescription>
          </CardHeader>

          <CardContent class="text-center pb-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </CardContent>

          <CardFooter>
            {socialNetworks.map(({ name: SocialIcon, url }: SociaNetworkslProps) => (
              <div>
                <a
                  rel="noreferrer noopener"
                  href={url}
                  target="_blank"
                  class={buttonVariants({
                    variant: "ghost",
                    size: "sm",
                  })}
                >
                  <span class="sr-only">{name} icon</span>
                  <SocialIcon size="20" />
                </a>
              </div>
            ))}
          </CardFooter>
        </Card>
      )
    )}
  </div>
</section>
