---
const title = "Astro/Tailwind - Landing template"
const description = "Free Astro v5 landing page, powered by Tailwind v4"
const url = "https://github.com/swiing/astro-landing-page.git"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- Primary Meta Tags -->
		<meta
		  name="title"
		  content={title}
		/>
		<meta
		  name="description"
		  content={description}
		/>
		<!-- Open Graph / Facebook -->
		<meta
		  property="og:type"
		  content="website"
		/>
		<meta
		  property="og:url"
		  content={url}
		/>
		<meta
		  property="og:title"
		  content={title}
		/>
		<meta
		  property="og:description"
		  content={description}
		/>
		<!-- <meta
		  property="og:image"
		  content=""
		/> -->
	
		<!-- Twitter -->
		<meta
		  name="twitter:card"
		  content="summary_large_image"
		/>
	
		<meta
		  name="twitter:url"
		  content={title}
		/>
		<meta
		  name="twitter:title"
		  content={title}
		/>
		<meta
		  name="twitter:description"
		  content={description}
		/>
		<!-- <meta
		  name="twitter:image"
		  content=""
		/> -->
	</head>
	<body>
		<slot />
	</body>
</html>
